@media screen and (min-width: 800px) {
    .wrapper {
        margin: auto;
        width: 800px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        grid: 
        "hd hd hd" minmax(60px, auto)
        "at at at" minmax(50px, auto)
        "at at at" minmax(50px, auto)
        "at at at" minmax(50px, auto)
        "at at at" minmax(50px, auto)
        "at at at" minmax(50px, auto)
        /1fr 1fr 1fr ;
    }
}

.header{
    font-weight:bold;
    grid-area: hd;
    grid-row: 1 ;
    grid-column: 2;
}

.instrument1{
    grid-area: at;
    grid-row: 2;
    grid-column: 2 ;
}
.instrument2{
    grid-area: at;
    grid-row: 3;
    grid-column:2 ;
}
.instrument3{
    grid-area: at;
    grid-row: 4;
    grid-column:2 ;
}
.instrument4{
    grid-area: at;
    grid-row: 5;
    grid-column:2 ;
}
.instrument5{
    grid-area: at;
    grid-row: 6;
    grid-column: 2 ;
}


a:link{
    text-decoration: none;
    color: black;
}
a:visited{
    text-decoration: none;
    color: black;
}
html {
    text-align: center;
    background: url(img/spin.gif) no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    font-family: "Rockwell";
    font-size: 2rem;
}