@media screen and (min-width: 4000px) {
    .wrapper {
        margin: auto;
        width: 900px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 100px;
        grid: 
        "hd hd hd" minmax(60px, auto)
        "at at at" minmax(50px, auto)
        "at at at" minmax(50px, auto)
        "at at at" minmax(45px, auto)
        
        /1fr 1fr 1fr ;
    }
}

.header{
    background-color: rgba(255, 255, 255, 0);
    grid-area: hd;
    grid-column: 1;
    grid-row: 1;
    
}

.img{
    grid-area: at;
    grid-row: 2;
    grid-column: 2;
}

html {
    text-align: center;
    background: url(/img/orchestraback.jpg) no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(0, 0, 0);
    font-family: "Rockwell";
    font-size: 2rem;
}
a:link{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
a:visited{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
